<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Ruta_Documentos" value="E:\inetpub\wwwroot\adminreclamos\Files" />
    <add key="Adjuntos_Cliente" value="E:\inetpub\wwwroot\adminreclamos\Adjuntos_Cliente" />
    <add key="Adjuntos_Cliente_Temp" value="E:\inetpub\wwwroot\adminreclamos\Adjuntos_Cliente_Temp" />
    <add key="Logo" value="E:\inetpub\wwwroot\adminreclamos\Logo\logo.png" />
    <add key="EmailFrom" value="informes@acuriorestaurantes.com" />
    <add key="PassFrom" value="Bl4d3bl20pg3" />
    <add key="EmailTo" value="" />
    <add key="EmailSubject" value="Acurio Restaurantes - Libro Reclamaciones" />
    <add key="EmailBody" value="Estimados." />
    <add key="ImagenCorreo1" value="E:\Inetpub\wwwroot\adminreclamos\images\banner_superior.png" />
    <add key="ImagenCorreo_estado1" value="E:\Inetpub\wwwroot\adminreclamos\images\banner_superior_alertas_1.png" />
    <add key="ImagenCorreo_estado2" value="E:\Inetpub\wwwroot\adminreclamos\images\banner_superior_alertas_2.png" />
    <add key="ImagenCorreo_estado3" value="E:\Inetpub\wwwroot\adminreclamos\images\banner_superior_alertas_3.png" />
    <add key="ImagenCorreo_estado4" value="E:\Inetpub\wwwroot\adminreclamos\images\banner_superior_alertas_4.png" />
    <add key="ImagenCorreo_estado5" value="E:\Inetpub\wwwroot\adminreclamos\images\banner_superior_alertas_5.png" />
    <add key="ImagenCorreo_estado6" value="E:\Inetpub\wwwroot\adminreclamos\images\banner_superior_alertas_6.png" />
    <!--<add key="Url_PowerBI" value="" /> -->
    <add key="Url_PowerBI" value="https://restaurantesacurio.sharepoint.com/sites/DashboardLegal?OR=Teams-HL&amp;CT=1686598732930&amp;clickparams=eyJBcHBOYW1lIjoiVGVhbXMtRGVza3RvcCIsIkFwcFZlcnNpb24iOiIyNy8yMzA1MDEwMDQyMiIsIkhhc0ZlZGVyYXRlZFVzZXIiOmZhbHNlfQ%3D%3D" />
  </appSettings>
  <connectionStrings>
    <add name="cadenaConexion" providerName="System.Data.SqlClient" connectionString="server=172.16.20.3;database=reclamaciones;uid=sa;pwd=Pr0c3s4d0r" />
	  <add name="cadenaConexion_arsysusers" providerName="System.Data.SqlClient" connectionString="server=172.16.20.3;database=ARSYSUSERS;uid=sa;pwd=Pr0c3s4d0r" />
	  
    <!--<add name="cadenaConexion" providerName="System.Data.SqlClient" connectionString="server=192.168.1.165;database=reclamaciones;uid=sa;pwd=Rosales285**" />-->
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name="appNameAuth" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5" maxRequestLength="93000" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>